---
import "../styles/global.css";

const title = "Nekashii";
const description = "Sitio web personal de Rebecca Alitzel";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Rebecca Alitzel" />
    <meta name="keywords" content="Nekashii,Rebecca Alitzel" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body
    class="min-h-dvh w-dvw flex flex-col items-center justify-center bg-white text-black dark:bg-black dark:text-white"
  >
    <h1 class="font-medium">Rebecca Alitzel</h1>
    <p class="opacity-75">@Nekashii</p>
  </body>
</html>
